html {
  font: 18px Verdana, Arial, sans-serif;
}

body {
  background-image: url(../images/mountain.jpg);
  background-size: cover;
}

h1, h2 {
  color: #0B61A5;
  padding-top: 1.5rem;
  text-align: center;
}

h1 a{
  color: #0B61A5;
  text-decoration: none;
}


ul{
  border: 1px solid #fff;
  background-color: #0B61A5;
}

li {
  display: inline-block;
  list-style: none;
  padding-left: 2rem;
}

li a{
  color: #fff;
  text-decoration: none;
}

p {
  color: lightblue;
}

table {
  border-collapse: collapse;
  margin-top: 30px;
}

th{
  background: rgba(11, 97, 165,0.5);
  color: #FFF;
  text-align: left;
}

td,th {
  border: 1px solid #fff;
  padding: 3px;
}

td{
  color: #fff;
  background-color: rgba(11, 97, 165, 0.5);
}

